@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/store.css")" />
}
<div class="jumbotron">

    <h2 class="text-center">Welcome to KST Video</h2>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/Images/navyseals.jpg" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">Navy Seals</h5>
                    <p class="card-text">This is our top selling action film go rent it!</p>
                </div>
            </div>
         </div>
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/Images/avengers.jpg" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">Avengers Endgame</h5>
                    <p class="card-text">What is highest grossing film of all time: This movie!</p>

                </div>
            </div>
        </div>
        </div>
    </div>



